@import "../utils/vars";
body {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 26px;
 line-height: 31px;
 letter-spacing: 0.03em;
}
.container {
 width: 1200px;
 margin: 0px auto;
 padding: 94px, 15px;
}

.unstyled-list {
 list-style: none;
}
