@import "../utils/vars";
.container-main {
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundm480.jpg");
 padding-top: 0;
 padding-bottom: 0;

 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 400px;
}
@media screen and (min-width: 768px) {
 .container-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundT768.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
}
@media screen and (min-width: 1200px) {
 .container-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundD1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
 }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
 .container-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundM@2.jpg");
 }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
 .container-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundT@2.jpg");
 }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
 .container-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundD@2.jpg");
 }
}
.hero {
 box-sizing: border-box;
 width: 100%;
 text-align: center;
 padding-top: 118px;
 padding-bottom: 128px;
 display: flex;
 flex-direction: column;
 align-items: center;
 @media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
 }
 &__title {
  color: $whitecolor;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  justify-content: center;
 }

 @media screen and (min-width: 1200px) {
  &__title {
   font-size: 44px;
   line-height: 1.36;
  }
 }
 &__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: $bluecolor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $whitecolor;
  padding: 10px 19px 10px 20px;
  border: none;
 }
 &__button:hover,
 &__button:focus {
  background: $bluesecond;
 }
}
