@import "../utils/vars";

.section-team {
 background: $whitegreycolor;
 padding-top: 60px;
 padding-bottom: 60px;
}
.title-team {
 font-weight: 700;
 font-size: 28px;
 line-height: 33px;
 text-align: center;
 letter-spacing: 0.03em;
 color: $blackcolor;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 30px;
 @media screen and (min-width: 1200px) {
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
 }
}
.team {
 &__img {
  width: 100%;
 }
 &__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
   display: flex;
   flex-wrap: wrap;
  }
 }

 &__item {
  background: #ffffff;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
   width: calc(100% / 2 - 30px);
   margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
   width: calc(100% / 4 - 30px);
  }
 }
 &__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $blackcolor;
 }
 &__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $greycolor;
  padding-bottom: 16px;
 }
}
.social-media {
 display: flex;
 margin-top: -35px;
 justify-content: center;
 align-items: center;

 &__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color $defaultTransition;
 }
 &__item:hover,
 &__item:focus {
  cursor: pointer;
  background-color: $bluecolor;
 }
 &__svg {
  transition: fill $defaultTransition;
 }
 &__svg:hover,
 &__svg:focus {
  fill: $whitecolor;
  cursor: pointer;
 }
}
.social-media ul {
 display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
}
.social-media__item a {
 display: flex;
 color: $iconGrey;
}

.social-media__item svg {
 fill: currentColor;
}
