@import "../sass/components/header";
@import "../sass/components/base";
@import "../sass/components/mainsection";
@import "../sass/components/jobSection";
@import "../sass/components/objectivesSection";
@import "../sass/components/teamSection";
@import "../sass/components/customerSection";
@import "../sass/components/footer";
@import "../sass/components/modal";
@import "../sass/components/portofolio";
